@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

/*
全体のレイアウト
*/
body {
  background-color: #f4f7f8;
}

.clear {
	clear: both;
}

.date {
  text-align: center;
}

/*
ナビ
*/
.my-navbar {
  align-items: center;
  background: #333;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
  margin-top: -20px
}

.my-navbar-admin {
  align-items: center;
  background: #333;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

.my-navbar-brand {
  font-size: 18px;
}

.my-navbar-title {
  font-size: 18px;
}

.my-navbar-brand,
.my-navbar-title {
  color: #f3efef;
}

.my-navbar-brand,
.my-navbar-item {
  color: #8c8c8c;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ffffff;
}

/*
入力フォーム
*/
.w-50 {
  width: 40% !important;
  margin-left: 100px;
}

.w-60 {
  width: 60% !important;
  margin-left: 50px;
}

.w-70 {
  width: 60% !important;
}

.label_for {
  margin-left: 50px;
}

.text {
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 10px;
}
#performance_table {
  width: 1140px;
  border: solid 1px #cacaca;
}
/*
テーブル部分
*/
.table-td {
  text-align: justify;
}

.table td:nth-child(1)
.table td:nth-child(3)
.table td:nth-child(4) {
  white-space: nowrap;
  width: 2px;
  
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}

.panel-body {
 padding-left:40px;
 line-height: 50px;
}

#absence {
 padding-left: 60px;
}

/*
検索フォーム
*/
#attendForDate {
 margin-left:100px;
}

.form-title{
 padding-right:30px;
}

.form-performance {
 width:130px;
 height:30px;
}

.delete-button {
 margin-left:50px;
}

#meal_fg {
  padding-left: 40px;
}

#outside_fg {
  padding-left: 40px;
}

#medical_fg {
  padding-left: 50px;
}

#container-top {
 text-align:right;
 margin-bottom:10px;
 }

/*
実績表ページ
*/
#performances {
  margin-left: -20px;
  list-style: none;
  overflow: hidden;
  width:auto;
  height: 37px;
  border-bottom: dotted 1px #afafaf;
}

.panel-default > .panel-heading-custom {
 height:100px;
}

/*
実績表ページヘッダー部
*/
#panel-header-left {
  float:left;
  margin-left:20px;
  padding-top:14px;
 }

#panel-header-title {
 float: left;
 margin-left:300px;
 padding-top:16px;
 font-size:30px;
}

#panel-header-right {
 float:left;
 margin-left:300px;
 padding-top:14px;
}

.panel-header-label{
 font-size:15px;
}

#panel-header-name {
 font-size:20px;
 padding-top:5px;
 text-align:center;
}

#panel-header-school-name {
 font-size:20px;
 padding-top:5px;
 text-align:center;
}

/*
実績表ページのテーブルタイトル部
*/

.panel-table-header {
  border: solid 1px #cacaca;
}

.panel-table-service {
  height: 60px;
  border: solid 1px #cacaca;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-align: center;
}

.panel-table-title {
  height: 60px;
  margin-bottom: 10px;
  font-size:13px;
  text-align: center;
 } 

/*タイトル部*/
#attend_day {
  padding:0 30px;
 }

#attend_week {
  padding-right: 30px;
  border-right: solid 1px #cacaca;
}

#service_offer {
  padding-left:150px;
  text-align: center;
}

#note {
  padding-left: 22px;
  border-left: solid 1px #cacaca;
}

#stamp {
  padding:0 34px;
}

#service_confirm {
  padding: 0 29px;
}

#punch_in {
  padding-right:28px;
  text-align:center
}

#punch_out {
  padding-right:28px;
  text-align:center
}

#meal {
  padding-right:28px;
}

#outside {
  padding-right:28px;
}

#medical {
  padding-right:29px;
}

/*実績一覧部*/
#input_attend_day {
  padding: 0 29px;
  text-align:center;
}

#input_attend_week {
  padding:0 30px 0 0;
  text-align:center;
}

#input_service_confirm {
  padding:0 70px;
  text-align:center;
}

#input_punch_in {
  padding:0 10px;
}

#input_punch_out {
  padding:0 10px;
}

#input_meal {
  padding:0 20px 0 40px;
}

#input_outside {
  padding:0 20px 0 40px;
}

#input_medical {
  padding:0 40px;
}

#input_note {
  text-align:center;
}